---
---
@import "{{ site.theme }}";

#wrapper {
	background-image: "/assets/img/background.jpg"
}

h1, h2, h3, h4, h5, h6 {
    color:#9e1f63
}

a {
    color:#9e1f63
}

a:hover {
    color:#000
}

a:hover, a:active {
    outline:0
}
