---
---
@import "{{ site.theme }}";

.header {
	background-image: "/assets/img/background.jpg"
}

h1, h2, h3, h4, h5, h6 {
    color:#9e1f63
}

a {
    color:#9e1f63
}

a:hover {
    color:#000
}

a:hover, a:active {
    outline:0
}

#-------nav bar

header ul {
	all: unset;
}

header ul {
    list-style: none;
    padding: 0;
    width:100%;
    background: #ffffff;
    border:0px;
    height: 0px;
}

header li {
    border:0px;
    display:block;
    width: 100%;
    float: left;
    background-color:#ffffff;
    height:40px;
	border-top: 2px solid #e5e5e5;
	border-radius: 0px;
}

header li:first-child a {
	border-radius: 0px;
	border-left: 0px;
	border-right: 0px;
}

header li:last-child a {
	border-radius: 0px;
}

header ul li a {
    border:0px;
    line-height: 1;
    font-size: 11px;
    display: block;
    text-align: center;
    padding-top: 6px;
    height:34px;
}

header ul li a:hover, header ul li a:focus {
    color: #9e1f63;
    background-color: #efefef;
    font-weight:normal;
	border-top: 2px solid #9e1f63;
}

header ul a:active {
}

header ul li + li + li {
    width:100%;
}

header ul a strong {
    font-size: 14px;
    display: block;
    color:#222
}

@media print, screen and (max-width: 960px) {
    header a small {
        display:inline
    }

    header ul {
	    height:0px;
        position: absolute;
        right: 50px;
        top:52px;
        border:0px;
    }
}

@media print, screen and (max-width: 720px) {
    header ul, header p.view {
        position:static;
        width:100%;
    }
    header li, header ul li + li + li {
        width:25%;
    }
}

footer { bottom:0px;}